.patient-select-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.patient-select-button:hover {
  background-color: #0056b3;
}

.back-button {
  padding: 5px 10px;
  font-size: 0.9rem;
  margin: 10px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.back-button:hover {
  background-color: #545b62;
}

.edit-profile-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.edit-profile-button:hover {
  background-color: #218838;
}
