/* App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-screen, .patient-screen, .provider-screen, .patient-home, .patient-profile, .approvals {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.Home-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.A-pink-button {
  border: none;
  color: white;
  padding: 15px 32px; /* Same padding as Home-button for similar size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Same font size as Home-button */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.Small-blue-button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 10px 20px; /* Smaller padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Slightly smaller font size */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.Profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.patient-screen-footer, .buttons-container {
  margin-top: 20px;
}
