/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif; /* Updated font for a more modern look */
  background-color: #f0f2f5; /* Light background for less strain */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-screen, .patient-screen, .provider-screen, .patient-home, .patient-profile, .approvals {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.Home-button, .A-pink-button, .Small-blue-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.Home-button {
  background-color: #4CAF50; /* Green */
  font-size: 16px;
}

.A-pink-button {
  background-color: #C31818; /* Pink */
  font-size: 16px; /* Same font size as Home-button */
  margin-top: 20px; /* Extra margin above buttons for spacing */
}

.Small-blue-button {
  background-color: #008CBA; /* Blue */
  padding: 10px 20px; /* Smaller padding */
  font-size: 14px; /* Slightly smaller font size */
}

.Profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.patient-screen-footer, .buttons-container {
  margin-top: 20px;
}

/* Enhanced User Friendliness */
.profile-item p, .profile-item h1, .profile-item h2, .request-item, .approval-history-item {
  margin: 5px 0; /* Reduced margin for a tighter look */
}

.edit-date {
  font-size: 0.8rem; /* Smaller font size for edit dates */
  color: #6c757d; /* Grey color for less prominence */
}

.patient-profile, .approvals-screen, .patient-info, .joke-column {
  background-color: #ffffff; /* White background for sections */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adding shadow for depth */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  max-width: 600px; /* Limiting width for better readability */
  margin: 20px auto; /* Centering profile and columns */
}

.profile-name, h1, h2 {
  color: #0056b3; /* Deep blue for names and headers */
}

p {
  color: #555; /* Slightly lighter text for regular paragraphs */
}

.joke-column {
  background-color: #f0f9ff; /* Lighter background for the joke column */
  border: 1px solid #bde0fe; /* Light blue border for emphasis */
}
